
<h1>My Rentals</h1>

<% if @my_rentals.present? %>
  <ul>
    <% @my_rentals.each do |rental| %>
      <li>
        <strong><%= rental.boat.name %></strong>
        <% if rental.boat.photos.attached? %>
          <%= cl_image_tag rental.boat.photos.first.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <p><strong>Price:</strong> <%= rental.boat.price %></p>
        <p><strong>Description:</strong> <%= rental.boat.description %></p>
        <p><strong>Reservation Dates:</strong> <%= rental.start_time.strftime("%Y-%m-%d") %> to <%= rental.end_time.strftime("%Y-%m-%d") %></p>
        <%= link_to 'Cancel rental', rentals_path, turbo_method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Edit rental', boat_path(rental.boat), class: "btn btn-primary btn-sm" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no rentals</p>
<% end %>


<h1>Rental History</h1>

<% past_rentals = @my_rentals.select { |rental| rental.end_time < Date.today } %>

<% if past_rentals.present? %>
  <ul>
    <% past_rentals.each do |rental| %>
      <li>
        <strong><%= rental.boat.name %></strong>
        <% if rental.boat.photos.attached? %>
          <%= cl_image_tag rental.boat.photos.first.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <p><strong>Price:</strong> <%= rental.boat.price %></p>
        <p><strong>Description:</strong> <%= rental.boat.description %></p>
        <p><strong>Reservation Dates:</strong> <%= rental.start_time.strftime("%Y-%m-%d") %> to <%= rental.end_time.strftime("%Y-%m-%d") %></p>
        <%= link_to 'Details', rental_path(rental) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no past rentals</p>
<% end %>
  <%= link_to 'Back to home', root_path, class: 'btn btn-outline-success' %>
