<%= simple_form_for @rental, html: { class: 'my-3' } do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.input :start_time,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    </div>
    <div class="form-group col-md-6">
      <%= f.input :end_time,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    </div>
  </div>

  <%= f.hidden_field :boat_id, value: @boat.id %>
  <% if f.object.persisted? %>
    <%= f.button :submit, 'Update', class: 'btn btn-info' %>
  <% else %>
    <%= f.button :submit, 'Book', class: 'btn btn-book' %>
  <% end %>
<% end %>
