

<h1>My Boats</h1>

<% if @my_boats.present? %>
  <ul>
    <% @my_boats.each do |boat| %>
      <li>
        <strong><%= boat.name %></strong>
        <div>
          <% boat.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
        </div>
        <p><strong>Price:</strong> <%= boat.price %></p>
        <p><strong>Description:</strong> <%= boat.description %></p>
        <%= link_to 'Delete', boat_path(boat), data: {turbo_method: :delete} %>
        <%= link_to 'Edit', edit_boat_path(boat), class: "btn btn-primary btn-sm" %>
        <%= button_to 'Suspend', boat_path(boat), method: :patch, params: { boat: { available: false } }, class: "btn btn-warning btn-sm" %>
      </li>
    <% end %>
  </ul>
  <% else %>
  <p>You have no boats</p>

<% end %>

  <%= link_to 'Back to home', root_path, class: 'btn btn-outline-success' %>
