<%= link_to 'Back to home', root_path, class: 'btn btn-outline-success' %>

<h1><%= @boat.name %></h1>
<% @boat.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<p><%= @boat.description %></p>
<p><%= @boat.price %></p>
<p><%= @boat.address %></p>


<%= simple_form_for @rental do |f| %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.hidden_field :boat_id, value: @boat.id %>
  <%= f.button :submit, 'Book', class: 'btn btn-primary' %>
<% end %>
